
.wrapper {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: rgba($background-color, 0.4);

    &::before {
        // Trick to make the vertical align works
        content: "";
    }
}

h1 {
    text-align: center;
    margin-bottom: $spacing-unit;
}

section {

    &:first-of-type {
        border-top: 1px solid $border-color;
    }
    &:last-of-type {
        border-bottom: 1px solid $border-color;
    }

    h2 {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;

        @include transition((background-color, border-color, color), $transition-duration);

        a {
            display: block;
            opacity: 1;
            padding: $spacing-unit / 4 $spacing-unit;
        }

        &:hover, &:focus {
            background: rgba($text-color, 0.15);
            border-color: $text-color;
        }
    }

    article {
        max-height: 0;
        overflow: hidden;
        padding: 0 $spacing-unit;

        display: flex;
        flex-direction: column;
        
        @include transition((padding-top, padding-bottom, max-height), $transition-duration);

        audio {
            margin: $spacing-unit / 2;
        }

        span {
            @include relative-font-size(0.75);
            text-align: right;
        }
    }

    &.active {

        h2 {
            background: $text-color;
            border-color: $text-color;

            a {
                color: $background-color;
                opacity: 1;
            }
        }

        article {
            padding: $spacing-unit / 2 $spacing-unit;
            max-height: 150px;
            border-bottom: 1px solid $border-color;
        }
    }
}

footer {
    margin: $spacing-unit;
    @include relative-font-size(0.75);
    text-align: right;
}
