{% include '_head.html' %}
	<!-- Side menu -->
	<div id="right" class="col-lg-4 col-lg-offset-8 
						col-md-5 col-md-offset-7 
						col-sm-6 col-sm-offset-6 
						col-xs-12">
		<nav id="menu">
			<h1>Les affres de Reivax</h1>
			{% if affres %}
			<div id="accordion">
			  {% for affre in affres %}
			  <div>
			    <div id="{{ affre.tag }}-link" class="link {{ affre.tag == tag ? 'active' }}">
			    	<a href="{{ affre.tag }}" class="affre-link trigger {{ affre.tag != tag ? 'collapsed' }}" role="button" data-target="#{{ affre.tag }}" data-toggle="collapse" data-parent="#accordion">{{ affre.title }}</a>
			    </div>
			    <div id="{{ affre.tag }}" class="collapse {{ affre.tag == tag ? 'in' }} affre-detail" role="tabpanel">
			   		<p class="desc">{{ affre.description }}</p>
			    	<audio class="col-xs-12" controls="controls" onplaying="countStream('bonus', {{ affre.id }})" preload="metadata">
						<source src="http://file.cafelembas.com/bonus/reivax/{{ affre.file }}" type="audio/mp3" />
					</audio>
					<p class="text-right"><small>{{ affre.date }}</small> - <a href="/{{ affre.tag }}">permalien</a> - <a href="//www.cafelembas.com/telecharger/bonus/reivax/{{ affre.tag }}">télécharger</a></p>
			    </div>
			  </div>	
				{% endfor %}
			</div>
			{% else %}
			<p class="text-center">Aucune affre trouvée, désolé.</p>
			{% endif %}
		</nav>
		<p class="footer text-right"><small>Affres réalisées par Reivax</small> - <a href="mailto:reivax.cafelembas.com">e-mail</a> - <a href="//www.cafelembas.com">café et lembas</a></p>
	</div>
{% include '_foot.html' %}